
application/__pycache__
csc227/__pycache__
application/migrations/__pycache__
/home/superior/Documents/project_learn/csc227/coding-envronment/
/home/superior/Documents/project_learn/csc227/coding-envronment
coding-envronment
junior-dev*
senior-dev*