{% extends 'base_generic.html' %}

<!--================Hero Banner Area Start =================-->
{% block hero-banner %}
<section class="hero-banner hero-banner-sm">
    <div class="container text-center">
        <h2>{{ name }}</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h2><a href="#">List of Schools</a></h2>
                </li>
                <!--li class="breadcrumb-item active" aria-current="page">Blog</li-->
            </ol>
        </nav>
    </div>
</section>
{% endblock hero-banner %}
<!--================Hero Banner Area End =================-->
