{% extends 'base_generic.html' %}

<!--================Hero Banner Area Start =================-->
{% block hero-banner %}
<section class="hero-banner hero-banner-sm">
    <div class="container text-center">
        <h2>{{ name }}</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h2><a href="#">Registration</a></h2>
                </li>
                <!--li class="breadcrumb-item active" aria-current="page">Blog</li-->
            </ol>
        </nav>
    </div>
</section>
{% endblock hero-banner %}
<!--================Hero Banner Area End =================-->
{% block section1 %} {% endblock section1 %} {% block section2 %}
<div class="card text-center" style="margin: 2% 25% 2% 25%">
    <div class="card-title">
        Register Your school Account
    </div>
    <div class="card-body">

        <form>
            {% csrf_token %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>

    </div>


</div>
{% endblock section2 %} {% block section3 %} {% endblock section3 %}